.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  height: 100vh;
}
.heading {
  position: relative;
  left: 15px;
  font-size: 2rem;
  top: -18px;
}
.head {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  top: -18px;
}
.formWrapper {
  background: #dcdcdc;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #ee4a4a;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  color: #000000;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #e35651;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #e31313;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #ee4a4a;
  text-decoration: none;
  border-bottom: 1px solid #ee4a4a;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #ff0000;
  border-color: #368654;
}

.mainWrap {
  display: grid;
  color: black;
  font-size: 14px;
  font-weight: 100;
  grid-template-columns: 230px 1fr;
  min-height: 100vh;
}

.aside {
  background: #dcdcdc;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .mainWrap {
    grid-template-columns: 1fr; /* Adjust the grid layout for smaller screens */
  }

  .aside {
    width: 100%; /* Make the aside div take the full width on smaller screens */
    max-width: none; /* Remove max-width on smaller screens */
  }

  .logoImage {
    height: 40px; /* Reduce logo height for smaller screens */
  }

  .head {
    font-size: 1rem; /* Adjust heading font size for smaller screens */
  }

  .clientsList {
    gap: 10px; /* Reduce gap between clients on smaller screens */
  }

  .btn {
    font-size: 14px; /* Adjust button font size for smaller screens */
  }

  .leaveBtn {
    margin-top: 10px; /* Adjust margin for leave button on smaller screens */
  }
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}
